*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 232, 232);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

h1{
    width: 35%;
    font-size: 35px;
    font-weight: 600px;
    color: red;
    letter-spacing: 1px;
    margin: 20px 0; 
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}

.lista-tareas{
    width: 35%;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
}

.crear-tareas{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.text-tareas{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    outline: none;
    text-transform: capitalize;
    width: 100%;
}

.btn-agregar-tarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: green;
    outline: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
}

.btn-agregar-tarea.active{
    opacity: 1;
    pointer-events: all;
}

.btn-agregar-tarea.active:hover{
    background-color: rgb(1, 100, 1);
}

.btn-agregar-tarea.active:active{
    background-color: rgb(0, 150, 0);
}

.tareas{
    width: 100%;
    margin-top: 30px;
}

.tarea{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    word-break: break-all;
}

.tarea p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
}

.tarea.completada p{
    text-decoration: line-through;
    color: black;
}

.nuevaTarea-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nuevaTarea-btn i{
    font-size: 18px;
    cursor: pointer;
}

i.nuevaTarea-btn-done{
    font-size: 18px;
    cursor: pointer;
    padding: 0 3px;
    color: rgb(0, 145, 0);
}

i.nuevaTarea-btn-done:hover{
    color: rgb(0, 200, 0);
}

i.nuevaTarea-btn-delete{
    font-size: 18px;
    cursor: pointer;
    padding: 0 3px;
    color: rgb(200, 0, 0);
}

i.nuevaTarea-btn-delete:hover{
    color: rgb(255, 0, 0);
}

.clear-all{
    text-align: center;
    width: 38%;
    padding: 30px 0 30px 0;

}

div .btn-limpiar{
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: .9;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

div .btn-limpiar:hover{
    background-color: rgb(190, 0, 0);
    opacity: 1;
}

div .btn-limpiar:active{
    background-color: rgb(100, 0, 0);
}